.video-block {
  text-align: center;

  &__video {
    width: 90%;
  }
  &__text {
    padding: 1vw 6vw;
    font-size: 2vw;
  }
}

@media screen and (max-width: 1440px) {
  .video-block {
    font-size: 1vw;
  }
}
@media screen and (max-width: 425px) {
  .video-block {
    &__text {
      font-size: 4vw;
    }
  }
}
